<div class="layui-container layui-img" style="height: 78px;">
    <a href="http://localhost:8080" style="float:left;">
        <img src="${ctxPath }/assets/images/header.png" style="height: 78px;">
    </a>
</div>
<!--<div class="layui-container" id="layui-nav">-->
<!--    <ul class="layui-nav layui-bg-hw" style="margin: 0;padding: 0;">-->
<!--        <li class="layui-nav-item"><a href="http://localhost:8080/achievement/index"><i class="layui-icon layui-icon-home"></i></a></li>-->
<!--        <li class="layui-nav-item layui-this"><a href="">考试通知</a></li>-->
<!--        <li class="layui-nav-item"><a href="">新闻公告</a></li>-->
<!--        <li class="layui-nav-item"><a href="">考试报名</a></li>-->
<!--        <li class="layui-nav-item"><a href="http://www.hwcs.org.cn/achievement/view">成绩查询</a></li>-->
<!--        <li class="layui-nav-item"><a href="http://localhost:8080/achievement/material">资料下载</a></li>-->
<!--        <li class="layui-nav-item"><a href="">课程培训</a></li>-->
<!--    </ul>-->
<!--</div>-->
<br/>